<title>demo</title>
<!-- 动画效果 -->
<link rel="stylesheet" type="text/css" href="{{host}}stylesheets/page-animation.css">
<!-- 滚动效果 -->
<link rel="stylesheet" type="text/css" href="{{host}}stylesheets/slidePage.css">
<!-- 插件样式 -->
<link rel="stylesheet" type="text/css" href="{{host}}stylesheets/unitStyle.css">
<!-- 页面样式 -->
<link rel="stylesheet" type="text/css" href="{{host}}stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="{{host}}stylesheets/pageStyle.css">

<body style="background: url({{host}}images/bac.png) 100% 100%;">

<div class="pageHead">
    <div class="center">

        <img src="{{host}}images/logo.png" class="pageHead-logo">

        <div class="pageHead-nav">
            <span class="pageHead-nav-active">创鱼科技</span>
            <span>合作案例</span>
            <span>联系我们</span>
        </div>

        <div class="pageHead-loginRegister">
            <span>登陆</span>
            <span>注册</span>
        </div>

        <span class="pageHead-tel">
            <i class="fa fa-phone"></i>
            0574-88888888
        </span>

    </div>
</div>



<div class="slidePage-container" id="slidePage-container">

    <div class="item item1">
        <img src="{{host}}images/screen_one_img.png" class="screen-one-img fadeIn">
        <span class="screen-one-span1">为您提供一站式软件技术服务</span>
        <span class="screen-one-span2">高品质的界面设计 全栈技术实力 高保障可靠交付</span>
        <span class="screen-one-span3">创鱼科技 页面做的很好看的技术开发公司</span>
        <a href="#" class="screen-one-button">我有一个需求</a>
        <img src="{{host}}images/arrow.png" class="screen-arrow">
    </div>

    <div class="item item2">
        <span class="screen-title">服务流程</span>
        <span class="screen-smallTitle">VARFISH 从视觉出发，一站式解决你的软件技术问题</span>

        <div class="screen_two_img">
            <img src="{{host}}images/screen_two_img.png">
            <span class="span1 active">① 线下咨询＆了解</span>
            <span class="span2">② 确定合作意向</span>
            <span class="span3">③ 了解甲方业务需求</span>
            <span class="span4">④  基于业务梳理功能需求</span>
            <span class="span5">⑤ 专业UI设计</span>
            <span class="span6">⑥ 全栈技术开发</span>
            <span class="span7">⑦ 产品测试和验收</span>
            <span class="span8">⑧ 产品上线发布</span>
        </div>

        <img src="{{host}}images/arrow.png" class="screen-arrow">
    </div>

    <div class="item item3">

        <span class="screen-title">我们擅长的领域</span>
        <span class="screen-smallTitle">VARFISH 专注互联网研发，不求最好，只做更好！</span>

        <div class="screen-three-list">

            <div class="screen-item">
                <img src="{{host}}images/three_img11.png" alt="">
                <img src="{{host}}images/three_img12.png" alt="" class="idImg">
                <span>微信公众号开发</span>
                <p>专注于微信生态良性发展、深度挖掘，高效搭建高质量公众号</p>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/three_img21.png" alt="">
                <img src="{{host}}images/three_img22.png" alt="" class="idImg">
                <span>微信小程序开发</span>
                <p>专注于微信生态良性发展、深度挖掘，高效搭建高质量公众号</p>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/three_img31.png" alt="">
                <img src="{{host}}images/three_img32.png" alt="" class="idImg">
                <span>H5营销小工具开发</span>
                <p>专注于微信生态良性发展、深度挖掘，高效搭建高质量公众号</p>
            </div>

        </div>

        <img src="{{host}}images/arrow.png" class="screen-arrow">

    </div>

    <div class="item item4">

        <span class="screen-title">我们的团队</span>
        <span class="screen-smallTitle">创鱼科技 是一家年轻的公司，同时也是一个极富凝聚力和战斗力的团队！</span>

        <div class="screen-four-list">

            <div class="screen-item">
                <img src="{{host}}images/avatar.jpg" alt="" class="avatar">
                <span class="name">刘思源</span>
                <span class="title">创始人/CEO</span>
                <span class="title">北航硕、博士生</span>
                <span class="title">曾就职于中电集团</span>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/avatar.jpg" alt="" class="avatar">
                <span class="name">王靖栋</span>
                <span class="title">高级副总裁</span>
                <span class="title">中国人大MBA</span>
                <span class="title">曾就职于三星亚马逊</span>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/avatar.jpg" alt="" class="avatar">
                <span class="name">王晶晶</span>
                <span class="title">高级总裁</span>
                <span class="title">中国人大</span>
                <span class="title">曾就职于三星亚马逊</span>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/avatar.jpg" alt="" class="avatar">
                <span class="name">陈耳朵</span>
                <span class="title">副总裁</span>
                <span class="title">中国人大MBA</span>
                <span class="title">曾就职于三星亚马逊</span>
            </div>

            <div class="screen-item">
                <img src="{{host}}images/avatar.jpg" alt="" class="avatar">
                <span class="name">张伟</span>
                <span class="title">高级副总裁</span>
                <span class="title">人大MBA</span>
                <span class="title">曾就职于三星</span>
            </div>

        </div>

        <a href="#" class="goWork">开启合作</a>

    </div>

    <!--通过slidePage.prev()、slidePage.next()和slidePage.index()可以对页面跳转操作，可以自定义分页组件-->
    <nav class="pagination" id="pagination">
        <a onclick="slidePage.index(1)"></a>
        <a onclick="slidePage.index(2)"></a>
        <a onclick="slidePage.index(3)"></a>
        <a onclick="slidePage.index(4)"></a>
    </nav>
</div>
</body>
<script src="http://cdn.bootcss.com/zepto/1.1.6/zepto.min.js"></script>
<script type="text/javascript" src="{{host}}javascripts/slidePage.min.js"></script>
<script src="{{host}}javascripts/zoom.js"></script>
<script type="text/javascript">
    window.onload = window.onresize = function(){
        zoom();
        $(".span1").click(function(e){
            console.log(e.clientY)
        })
    }

    $('#pagination').find('a').eq(0).addClass('active')
    slidePage.init({
        /*'index': 1,*/
        before:function(index,direction,target){
            if(direction=='next'){
                if(target==1){
                    slidePage.fire(2)   //-- 手动控制播放第几页的lazy动画
                }
                $('#pagination').find('a').removeClass('active').eq(index).addClass('active')
            }else if(direction=='prev'){
                $('#pagination').find('a').removeClass('active').eq(target-1).addClass('active')
            }
        },
        after:function(index,direction,target){
        },
        'useAnimation': true,
        'refresh': true,
        'speed': false,
    });
</script>
